html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
}

li {
  text-decoration: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "WorkSans-Medium", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #F5FBF2;
  background-color: #1C121F;
  overflow-x: hidden;
}

.container {
  max-width: 1370px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
  overflow-x: hidden;
}

.button-empty {
  background: rgba(233, 215, 167, 0.1);
  border: 1px solid #FFCE4E;
  cursor: pointer;
  transition: all 0.4s;
}
.button-empty:hover {
  background: #FFCE4E;
  color: #000;
  border: 1px solid #000;
}

.button-yellow {
  background-color: #FFCE4E;
  color: #000;
  cursor: pointer;
  transition: all 0.3s;
  border: 1px solid;
}
.button-yellow:hover {
  background: rgba(233, 215, 167, 0.1);
  color: #fff;
  border: 1px solid #FFCE4E;
}

.title {
  text-align: center;
  font-family: "Oxanium-Bold";
  color: #F5FBF2;
  font-size: 64px;
  line-height: 130px;
}

.title-purple {
  position: relative;
}
.title-purple::before {
  content: "";
  background-image: url(../img/purple.png);
  background-position: center;
  background-repeat: no-repeat;
  transform: translateX(-35%);
  position: absolute;
  width: 110px;
  height: 110px;
  z-index: -1;
}

.title-red {
  position: relative;
}
.title-red::before {
  content: "";
  background-image: url(../img/red.png);
  background-position: center;
  background-repeat: no-repeat;
  transform: translateX(-35%);
  position: absolute;
  width: 110px;
  height: 110px;
  z-index: -1;
}

.View-btn {
  display: block;
  margin: 80px auto 0;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.05em;
  color: #F5FBF2;
  padding: 25px 65px;
}

@font-face {
  font-family: "WorkSans-Bold";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/AnyConv.com__WorkSans-Bold.woff2") format("woff2"), url("../fonts/AnyConv.com__WorkSans-Bold.woff") format("woff"), url("../fonts/AnyConv.com__WorkSans-Bold.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: "WorkSans-SemiBold";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/AnyConv.com__WorkSans-SemiBold.woff2") format("woff2"), url("../fonts/AnyConv.com__WorkSans-SemiBold.woff") format("woff"), url("../fonts/AnyConv.com__WorkSans-SemiBold.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: "WorkSans-Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/AnyConv.com__WorkSans-Medium.woff2") format("woff2"), url("../fonts/AnyConv.com__WorkSans-Medium.woff") format("woff"), url("../fonts/AnyConv.com__WorkSans-Medium.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: "WorkSans-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/AnyConv.com__WorkSans-Regular.woff2") format("woff2"), url("../fonts/AnyConv.com__WorkSans-Regular.woff") format("woff"), url("../fonts/AnyConv.com__WorkSans-Regular.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: "Oxanium-Bold";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/AnyConv.com__Oxanium-Bold.woff2") format("woff2"), url("../fonts/AnyConv.com__Oxanium-Bold.woff") format("woff"), url("../fonts/AnyConv.com__Oxanium-Bold.eot") format("eot");
  font-display: swap;
}
.header {
  font-size: 18px;
  line-height: 21px;
}
.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 37px;
}
.header__btn {
  color: #FFCE4E;
  padding: 22px 30px;
  transition: all 0.2s;
}
.header__btn:hover {
  background: rgba(233, 215, 167, 0.1);
  color: #F5FBF2;
  border: 1px solid #F5FBF2;
}

.nav {
  margin: 0 160px 0 auto;
}
.nav__list {
  display: flex;
  align-items: center;
  grid-gap: 60px;
}
.nav__link {
  font-family: "WorkSans-Medium", sans-serif;
  letter-spacing: 0.02em;
  transition: all 0.3s;
  padding-bottom: 8px;
}
.nav__link:hover {
  color: #FFCE4E;
  border-bottom: 1px solid;
}

.first {
  margin-top: 140px;
  position: relative;
}

.first__inner {
  display: flex;
  justify-content: space-between;
}

.first__title {
  max-width: 700px;
  font-family: "Oxanium-Bold";
  font-weight: 700;
  font-size: 85px;
  line-height: 130px;
}
.first__title span {
  color: #FFCE4E;
}

.first__buttons {
  margin: 75px 0 120px;
  display: flex;
  align-items: center;
  grid-gap: 45px;
}
.first__buttons-link {
  padding: 25px 75px;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
}

.first__list {
  display: flex;
  align-items: center;
  gap: 100px;
}
.first__list-item {
  text-align: center;
}

.first__item-num {
  font-weight: 700;
  font-size: 62px;
  line-height: 78px;
}

.first__item-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #96839B;
}

.first__Nft {
  margin-left: 20px;
  background-image: url(../img/first/NFT.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 558px;
  width: 100%;
  max-height: 720px;
}
.first__Nft-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.first__Nft-top {
  font-family: "Oxanium-Bold";
  margin: 23px 23px 0;
  padding: 17px 45px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(92.8deg, rgba(255, 137, 61, 0.09) -52.37%, rgba(250, 250, 250, 0.9) 137.41%);
  opacity: 0.95;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.12);
  -webkit-backdrop-filter: blur(22.5px);
  backdrop-filter: blur(22.5px);
}

.first__top-span {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.08em;
  text-transform: capitalize;
}

.first__top-text {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #fff;
}

.first__Nft-bottom {
  background: #fff;
  -webkit-backdrop-filter: blur(13.5px);
  backdrop-filter: blur(13.5px);
  padding: 35px 30px 35px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.first__bottom-text {
  font-family: "Oxanium-Bold";
  font-weight: 600;
  font-size: 28px;
  line-height: 35px;
  letter-spacing: 0.07em;
  color: #16091b;
}
.first__bottom-nik {
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #594d5e;
}

.first__bottom-btn {
  padding: 23px 45px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000;
  transition: all 0.4s;
  border: none;
}
.first__bottom-btn:hover {
  background-color: #16091b;
  border: none;
}

.first__arrow {
  position: absolute;
  left: 50%;
  bottom: 12%;
}
.first__arrow-link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: rgba(109, 91, 114, 0.4);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0px 14px 79px rgba(134, 19, 165, 0.1);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  cursor: pointer;
  transition: all 0.3s;
}
.first__arrow-link:hover {
  background-color: #96839B;
}

.companies {
  margin: 185px 0px;
}
.companies__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 90px 0;
}

.auctions {
  padding-bottom: 80px;
}

.auctions-slider {
  overflow: visible !important;
}

.auctions-swiper {
  padding-top: 85px;
  position: relative;
}

.auctions__item {
  padding: 32px;
  background: #3D2942;
  max-width: 495px;
}

.auctions__img {
  position: relative;
  overflow: hidden;
}
.auctions__img img {
  -o-object-fit: cover;
  object-fit: cover;
}
.auctions__img-text {
  position: absolute;
  bottom: 5px;
  padding: 15px 45px;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 0.02em;
  background: linear-gradient(125.33deg, #8613A5 18.61%, rgba(250, 250, 250, 0.65) 137.4%);
  opacity: 0.95;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.12);
  -webkit-backdrop-filter: blur(22.5px);
  backdrop-filter: blur(22.5px);
}

.auctions__profile {
  margin: 30px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.auctions__user {
  display: flex;
  align-items: center;
}
.auctions__user-img {
  border-radius: 50%;
  overflow: hidden;
}
.auctions__user-content {
  margin-left: 17px;
}
.auctions__user-text {
  font-weight: 500;
  font-size: 28px;
  line-height: 35px;
}
.auctions__user-nick {
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: #BDAAC1;
}

.auctions__like {
  display: flex;
  align-items: center;
}
.auctions__like-text {
  font-size: 32px;
  line-height: 35px;
  color: #76607A;
  margin: -3px 0px 0px 10px;
}

.auctions__bid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.auctions__bid-text {
  font-size: 24px;
  line-height: 35px;
  color: #C6BFC8;
}
.auctions__bid-price {
  font-family: "Oxanium-Bold";
  font-size: 24px;
  line-height: 35px;
  color: #F5FBF2;
}

.auctions__btn {
  margin-top: 40px;
  padding: 21px 0;
  width: 100%;
  background: rgba(233, 215, 167, 0.1);
  border: 1px solid #FDE8B3;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 0.05em;
  cursor: pointer;
  transition: all 0.3s;
}
.auctions__btn:hover {
  background: #FFCE4E;
  color: #000;
  border: 1px solid #000;
}

.auctions-box-prev,
.auctions-box-next {
  position: absolute;
  top: 30px;
  left: 95%;
  opacity: 0.5;
  transition: all 0.4s;
}
.auctions-box-prev::after,
.auctions-box-next::after {
  display: none;
}
.auctions-box-prev:hover,
.auctions-box-next:hover {
  opacity: 1;
}

.auctions-box-prev {
  top: 35px;
  left: 89%;
}

.auctions-button-next {
  transform: rotate(180deg);
}

.how__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.how__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.how__box-images {
  background: #372839;
  border-radius: 50%;
  width: 106px;
  height: 106px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
  position: relative;
}
.how__box-images::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 130%;
  background-image: url(../img/how/line.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 173px;
  height: 10px;
}
.how__box:last-child .how__box-images::after {
  display: none;
}
.how__box-title {
  color: #FFCE4E;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-transform: capitalize;
}

.popular {
  margin-top: 165px;
}

.popular-slider {
  position: relative;
}

.popular__item {
  max-width: 525px;
  padding: 35px;
  background: #3d2942;
}

.popular__img {
  overflow: hidden;
}

.popular__profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}

.popular__user {
  display: flex;
  align-items: center;
}
.popular__user-nick {
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
  color: #F5FBF2;
  margin-left: 15px;
}

.popular__text {
  font-weight: 600;
  font-size: 20px;
  line-height: 35px;
  color: #c2b5c6;
}

.popular-box-prev,
.popular-box-next {
  position: absolute;
  opacity: 0.5;
  transition: all 0.4s;
}
.popular-box-prev::after,
.popular-box-next::after {
  display: none;
}
.popular-box-prev:hover,
.popular-box-next:hover {
  opacity: 1;
}

.popular-box-prev {
  left: 15px;
}

.popular-box-next {
  right: 15px;
}

.popular-button-next {
  transform: rotate(180deg);
}

.categories {
  margin-top: 180px;
}

.categories-slider {
  overflow: visible !important;
}

.categories-swiper {
  padding-top: 85px;
  position: relative;
}

.categories__item {
  padding: 32px;
  background: #3d2942;
  max-width: 415px;
}
.categories__item:hover .categories__img img {
  opacity: 0.5;
  z-index: 1;
}
.categories__item:hover .categories__img-btn {
  background-color: #95782e;
  display: block;
  z-index: 5;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s;
}
.categories__item:hover .categories__img-btn:hover {
  background-color: #FFCE4E;
}

.categories__img {
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
}
.categories__img img {
  -o-object-fit: cover;
  object-fit: cover;
  transition: all 0.3s;
}
.categories__img-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 246px;
  max-height: 70px;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000;
  padding: 20px 57px;
  background-color: #FFCE4E;
  border: 0px;
  white-space: nowrap;
  opacity: 0;
  transition: all 0.3s;
}

.categories__profile {
  margin: 30px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.categories__user {
  display: flex;
  align-items: center;
}
.categories__user-img {
  border-radius: 50%;
  overflow: hidden;
}
.categories__user-content {
  margin-left: 17px;
}
.categories__user-text {
  font-weight: 500;
  font-size: 28px;
  line-height: 35px;
}
.categories__user-nick {
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: #BDAAC1;
}

.categories__like {
  display: flex;
  align-items: center;
}
.categories__like-text {
  font-size: 32px;
  line-height: 35px;
  color: #76607A;
  margin: -3px 0px 0px 10px;
}

.categories__bid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.categories__bid-text {
  font-size: 24px;
  line-height: 35px;
  color: #C6BFC8;
}
.categories__bid-price {
  font-family: "Oxanium-Bold";
  font-size: 24px;
  line-height: 35px;
  color: #F5FBF2;
}

.categories__btn {
  margin-top: 40px;
  padding: 21px 0;
  width: 100%;
  background: rgba(233, 215, 167, 0.1);
  border: 1px solid #fde8b3;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 0.05em;
  cursor: pointer;
}

.creators {
  margin-top: 185px;
}

.creators__inner {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 55px;
}

.creators__box {
  background: #302034;
  box-shadow: inset 2px 0px 0px #E03054;
  max-width: 600px;
  padding: 25px 65px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.creators__user {
  display: flex;
  align-items: center;
}

.creators__user-content {
  margin-left: 25px;
}

.creators__user-text {
  font-family: "Oxanium-Bold";
  font-weight: 600;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 0.05em;
  color: #F5FBF2;
}

.creators__user-price {
  color: #BDAAC1;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.creators__item {
  padding-left: 45px;
  border-left: 3px solid #49374E;
  text-align: center;
}
.creators__item-num {
  font-family: "Oxanium-Bold";
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 0.05em;
}
.creators__item-text {
  color: #908294;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.subscribe {
  padding: 115px 0;
  background-image: url(../img/subscribeBG.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe__form {
  display: flex;
  align-items: center;
  max-width: 680px;
  margin: 0 auto;
}
.subscribe__form-text {
  width: 100%;
  padding: 30px 30px 30px 50px;
  border: 1px solid #e7b226;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #fff;
  outline: 0;
  background: transparent;
}
.subscribe__form-text::-moz-placeholder {
  color: #a48ea9;
}
.subscribe__form-text::placeholder {
  color: #a48ea9;
}
.subscribe__form-btn {
  font-family: "WorkSans-Bold";
  background-color: #FFCE4E;
  padding: 30px 63px;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  color: #251928;
  border: 1px solid #FFCE4E;
}

.footer__inner {
  padding: 115px 0;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.footer__content-fake {
  display: none;
}

.footer__content {
  max-width: 390px;
  font-size: 20px;
  line-height: 36px;
  color: #96839B;
}
.footer__content-text {
  font-weight: 500;
}
.footer__content-list {
  display: flex;
  align-items: center;
  margin: 50px 0;
}
.footer__content-bottom {
  font-weight: 400;
}

.footer__list-link {
  margin-right: 30px;
}
.footer__list-link path {
  transition: all 0.3s;
}
.footer__list-link:hover path {
  fill: #fff;
}

.footer__lists {
  display: flex;
  gap: 80px;
}

.footer__about-title,
.footer__Support-title {
  color: #F5FBF2;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  margin-bottom: 20px;
}

.footer__about-item,
.footer__Support-item {
  margin-bottom: 10px;
}

.footer__about-link,
.footer__Support-link {
  color: #96839B;
  font-weight: 500;
  font-size: 20px;
  line-height: 50px;
  transition: all 0.3s;
}
.footer__about-link:hover,
.footer__Support-link:hover {
  color: #F5FBF2;
}

@media (max-width: 1250px) {
  .first__title {
    font-size: 80px;
    line-height: 90px;
  }
  .first__buttons {
    margin-bottom: 75px;
  }
  .first__list {
    gap: 35px;
  }
  .first__Nft {
    max-width: 450px;
    max-height: 530px;
  }
  .first__Nft-bottom {
    padding: 20px 15px 20px 25px;
  }
  .first__top-span {
    font-size: 16px;
    line-height: 17px;
  }
  .first__top-text {
    font-size: 25px;
    line-height: 30px;
  }
  .companies__list {
    margin: 0;
  }
  .auctions-slide {
    margin-right: 20px;
  }
  .auctions__item {
    padding: 15px;
    max-width: 450px;
  }
  .how__box-images::after {
    transform: scale(0.7);
    left: 85%;
  }
  .popular__item {
    padding: 15px;
  }
  .popular__user-nick {
    font-size: 26px;
    margin-left: 5px;
  }
  .popular__text {
    font-size: 18px;
  }
  .categories__item {
    padding: 15px;
  }
  .categories__img img {
    width: 100%;
  }
  .categories__user-content {
    margin-left: 5px;
  }
  .categories__user-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
  }
  .categories__user-nick {
    font-size: 17px;
    line-height: 27px;
  }
  .categories__bid-text {
    font-size: 20px;
    line-height: 19px;
  }
  .categories__bid-price {
    font-family: Oxanium-Bold;
    font-size: 20px;
    line-height: 25px;
    color: #f5fbf2;
  }
  .creators__box {
    padding: 25px 15px 30px;
  }
  .creators__user-content {
    margin-left: 10px;
  }
}
@media (max-width: 1000px) {
  .first__title {
    font-size: 55px;
    line-height: 80px;
  }
  .first__buttons {
    gap: 10px;
  }
  .first__buttons-link {
    padding: 20px 60px;
    font-size: 23px;
    line-height: 30px;
  }
  .first__item-num {
    font-size: 45px;
    line-height: 45px;
  }
  .first__item-text {
    font-size: 20px;
    line-height: 25px;
  }
  .first__arrow-link {
    display: none;
  }
  .companies__list {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 20px;
    text-align: center;
  }
  .auctions-box-prev {
    left: 85%;
  }
  .how__items {
    overflow-y: hidden;
  }
  .how__box-images {
    margin-bottom: 10px;
  }
  .how__box-images::after {
    transform: scale(0.6);
    left: 75%;
  }
  .how__box-title {
    font-size: 20px;
    line-height: 15px;
  }
  .creators__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
    max-width: 600px;
    margin: 0 auto;
  }
  .creators__box {
    width: 100%;
  }
  .footer__content {
    max-width: 300px;
  }
  .footer__lists {
    gap: 30px;
  }
}
@media (max-width: 900px) {
  .header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 5;
    top: 0;
    padding: 25px 0px;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .header__main {
    margin: 0;
  }
  .header__logo {
    order: 1;
  }
  .header__btn {
    order: 2;
  }
  .nav {
    order: 3;
    margin: 0;
  }
  .nav__link {
    font-size: 25px;
  }
  .nav__list {
    position: fixed;
    top: 0;
    right: -10px;
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: rgba(28, 28, 28, 0.9);
    z-index: -1;
    padding: 85px 0px 0px 24px;
    justify-content: space-evenly;
    transform: translateX(100%);
    transition: transform 0.4s;
    overflow: auto;
  }
  .nav__list--active {
    transform: translateX(0);
  }
  .nav__burger {
    cursor: pointer;
  }
  .nav__burger::after, .nav__burger::before {
    content: "";
    display: block;
    width: 24px;
    height: 2.4px;
    background-color: #FFCE4E;
    transition: transform 0.4s;
  }
  .nav__burger.nav__burger--active span {
    display: none;
  }
  .nav__burger.nav__burger--active::after {
    content: "";
    transform: rotate(-45deg);
  }
  .nav__burger.nav__burger--active::before {
    content: "";
    transform: translateY(2px) rotate(45deg);
  }
  .nav__burger-line {
    display: block;
    width: 24px;
    height: 2px;
    background-color: #FFCE4E;
    margin: 4px 0px;
  }
  .first__title {
    font-size: 45px;
    line-height: 60px;
  }
  .first__Nft-top {
    padding: 15px;
  }
  .first__top-span {
    font-size: 13px;
    line-height: 14px;
  }
  .first__top-text {
    font-size: 20px;
    line-height: 20px;
  }
  .first__bottom-text {
    font-size: 20px;
    line-height: 20px;
  }
  .first__bottom-nik {
    font-size: 17px;
    line-height: 25px;
  }
  .first__bottom-btn {
    padding: 20px 30px;
    font-size: 20px;
    line-height: 20px;
  }
  .auctions__img-text {
    padding: 10px 35px;
  }
  .auctions__profile {
    margin: 20px 0;
  }
  .auctions__user-text {
    font-size: 22px;
    line-height: 25px;
  }
  .auctions__user-nick {
    font-size: 16px;
    line-height: 25px;
  }
  .auctions__bid-text {
    font-size: 20px;
  }
  .auctions__bid-price {
    font-size: 19px;
  }
  .how__items {
    flex-direction: column;
    gap: 110px;
  }
  .how__box-images::after {
    transform: rotate(90deg) scale(0.6);
    top: 170%;
    left: -30%;
  }
  .popular {
    margin-top: 70px;
  }
  .categories {
    margin-top: 70px;
  }
  .creators {
    margin-top: 70px;
  }
  .subscribe {
    padding: 60px 10px;
  }
  .subscribe__title {
    line-height: 80px;
    margin-bottom: 30px;
  }
  .subscribe__form {
    flex-direction: column;
  }
  .subscribe__form-btn {
    margin-top: 25px;
    padding: 25px 45px;
  }
  .footer__image-logo {
    width: 112px;
  }
  .footer__content {
    max-width: 250px;
  }
}
@media (max-width: 750px) {
  .first__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .first__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .first__title {
    max-width: 350px;
  }
  .first__Nft {
    margin-top: 50px;
    max-width: 282px;
    min-height: 380px;
  }
  .first__Nft-inner {
    height: 380px;
  }
  .auctions-box-prev {
    left: 82%;
  }
  .auctions-slide {
    display: flex;
    justify-content: center;
  }
  .popular-slide {
    display: flex;
    justify-content: center;
  }
  .footer__inner {
    padding: 80px 0;
    flex-direction: column;
    align-items: center;
  }
  .footer__image-logo {
    margin: 31px 0;
  }
  .footer__content {
    max-width: 100%;
    text-align: center;
  }
  .footer__content .footer__content-list {
    display: none;
  }
  .footer__content .footer__content-bottom {
    display: none;
  }
  .footer__lists {
    margin-top: 30px;
    width: 100%;
    justify-content: space-evenly;
  }
  .footer__content-fake {
    display: block;
  }
  .footer__content-list {
    margin: 30px 0;
  }
  .footer__content-bottom {
    font-size: 20px;
    line-height: 36px;
    color: #96839B;
  }
}
@media (max-width: 600px) {
  .title {
    font-size: 40px;
    line-height: 70px;
  }
  .title-purple::before, .title-red::before {
    width: 65px;
    height: 65px;
    border-radius: 50%;
  }
  .View-btn {
    margin: 40px auto 0;
    font-size: 20px;
    line-height: 18px;
    padding: 21px 50px;
  }
  .header__btn {
    padding: 18px 15px;
    font-size: 16px;
  }
  .nav__list {
    width: 100%;
    right: 0;
  }
  .companies {
    margin: 80px 0px;
  }
  .companies__list-item img {
    max-width: 85%;
  }
  .auctions-slide {
    display: block;
  }
  .auctions-box-prev {
    left: 80%;
  }
  .auctions-box-next {
    left: 94%;
  }
  .auctions__img-text {
    padding: 10px 25px;
    font-size: 22px;
    line-height: 30px;
  }
  .auctions__user-text {
    font-size: 18px;
    line-height: 18px;
  }
  .auctions__user-nick {
    font-size: 14px;
    line-height: 20px;
  }
  .auctions__btn {
    margin-top: 15px;
  }
  .popular-slide {
    display: block;
  }
  .popular__img img {
    width: 100%;
  }
  .creators__inner {
    margin-top: 20px;
    gap: 25px;
  }
  .creators__item {
    padding-left: 15px;
  }
  .creators__box {
    padding: 15px;
  }
  .creators__user-text {
    font-size: 27px;
    line-height: 25px;
  }
  .creators__user-img {
    width: 25%;
  }
  .creators__user-price {
    font-size: 22px;
    line-height: 26px;
  }
  .creators__item-num {
    font-size: 27px;
    line-height: 25px;
  }
  .creators__item-text {
    font-size: 23px;
    line-height: 27px;
  }
  .subscribe__form-btn {
    padding: 15px 35px;
  }
  .subscribe__form-text {
    padding: 20px;
  }
}
@media (max-width: 450px) {
  .first__title {
    max-width: 300px;
    font-size: 35px;
    line-height: 50px;
  }
  .first__buttons-link {
    padding: 15px 35px;
    font-size: 20px;
    line-height: 25px;
  }
  .first__list {
    gap: 20px;
  }
  .first__item-num {
    font-size: 30px;
    line-height: 35px;
  }
  .first__item-text {
    font-size: 15px;
    line-height: 20px;
  }
  .auctions-box-prev {
    left: 75%;
  }
  .auctions-box-next {
    left: 92%;
  }
  .auctions-box-prev svg,
.auctions-box-next svg {
    width: 40px;
  }
  .auctions__like-text {
    font-size: 28px;
    line-height: 25px;
  }
  .auctions__bid-text {
    font-size: 15px;
  }
  .auctions__bid-price {
    font-size: 16px;
  }
  .auctions__btn {
    margin-top: 10px;
    font-size: 20px;
    line-height: 20px;
  }
  .auctions__img img {
    width: 100%;
    max-height: 210px;
  }
  .how__box-images {
    width: 90px;
    height: 90px;
  }
  .how__box-images::after {
    left: -45%;
    top: 185%;
  }
  .popular-button-next svg,
.popular-button-prev svg {
    width: 40px;
    height: 40px;
  }
  .popular-box-next {
    top: 48%;
  }
  .categories__user-text {
    font-size: 18px;
    line-height: 25px;
  }
  .categories__user-nick {
    font-size: 15px;
    line-height: 27px;
  }
  .categories__like-text {
    font-size: 19px;
    margin: -3px 0 0 3px;
  }
  .categories__bid-text {
    font-size: 18px;
    line-height: 19px;
  }
  .categories__bid-price {
    font-size: 18px;
    line-height: 25px;
  }
  .creators__item {
    padding-left: 15px;
  }
  .creators__user-text {
    font-size: 20px;
    line-height: 35px;
  }
  .creators__user-price {
    font-size: 18px;
  }
  .creators__item-num {
    font-size: 24px;
    line-height: 25px;
  }
  .creators__item-text {
    font-size: 20px;
    line-height: 27px;
  }
  .subscribe__form-text {
    font-size: 18px;
  }
  .footer__inner {
    padding: 30px 0 0;
  }
  .footer__content {
    font-size: 18px;
    line-height: 36px;
  }
  .footer__lists {
    justify-content: space-between;
  }
  .footer__Support-title,
.footer__about-title {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 15px;
  }
  .footer__Support-link,
.footer__about-link {
    font-size: 17px;
    line-height: 35px;
  }
  .footer__content-list {
    margin: 20px 0;
  }
}
/*# sourceMappingURL=style.css.map */
